<a href="https://colab.research.google.com/github/G0erman/BDE/blob/main/1_Prediction_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [28]:
# Data Science Libraries
import pandas as pd

# Decision Trees

In [32]:
# Current versions of packages
for pk in [pd]:
  print(f'{pk.__name__}: {pk.__version__}')

pandas: 1.1.4

In [34]:
# Pandas configuration to see more rows
pd.get_option('display.max_rows')

150

In [38]:
pd.set_option('display.max_rows',150)

# Read Data

In [24]:
# Dataset
dataset = "http://www.columbia.edu/~rsb2162/SaoPedroetal_2013__UMUAI_DesigningControlledExperiments_cummandlocalfeatures.csv"
df = pd.read_csv(dataset)
print(df.shape)
df.head()

(564, 147)

  DesigningControlledExperiments?   Group  ...   Cm CVS cnt   Cm Rept cnt
0                               N       2  ...            0             1
1                               N       2  ...            1             1
2                               Y       3  ...            1             0
3                               N       2  ...            5             0
4                               N       1  ...            1             2

[5 rows x 147 columns]

In [36]:
df.columns

Index(['DesigningControlledExperiments?', ' Group', ' StateChangeMW',
       ' All t cnt', ' All t sum', ' All t mean', ' All t stddev',
       ' All t min', ' All t max', ' All t med',
       ...
       ' Cm Hyp make t med', ' Cm Mw iv change cnt', ' Cm Mw iv change t sum',
       ' Cm Mw iv change t mean', ' Cm Mw iv change t stddev',
       ' Cm Mw iv change t min', ' Cm Mw iv change t max',
       ' Cm Mw iv change t med', ' Cm CVS cnt', ' Cm Rept cnt'],
      dtype='object', length=147)

In [39]:
# I like columns without spaces
df.columns = [column.strip().replace(' ','_') for column in df.columns]
df.columns

Index(['DesigningControlledExperiments?', 'Group', 'StateChangeMW',
       'All_t_cnt', 'All_t_sum', 'All_t_mean', 'All_t_stddev', 'All_t_min',
       'All_t_max', 'All_t_med',
       ...
       'Cm_Hyp_make_t_med', 'Cm_Mw_iv_change_cnt', 'Cm_Mw_iv_change_t_sum',
       'Cm_Mw_iv_change_t_mean', 'Cm_Mw_iv_change_t_stddev',
       'Cm_Mw_iv_change_t_min', 'Cm_Mw_iv_change_t_max',
       'Cm_Mw_iv_change_t_med', 'Cm_CVS_cnt', 'Cm_Rept_cnt'],
      dtype='object', length=147)

In [40]:
df.head()

  DesigningControlledExperiments?  Group  ...  Cm_CVS_cnt  Cm_Rept_cnt
0                               N      2  ...           0            1
1                               N      2  ...           1            1
2                               Y      3  ...           1            0
3                               N      2  ...           5            0
4                               N      1  ...           1            2

[5 rows x 147 columns]

In [42]:
df.dtypes[:10]

DesigningControlledExperiments?     object
Group                                int64
StateChangeMW                        int64
All_t_cnt                            int64
All_t_sum                            int64
All_t_mean                         float64
All_t_stddev                       float64
All_t_min                            int64
All_t_max                            int64
All_t_med                          float64
dtype: object

# Decision Trees

In [ ]:
#